
<ul class="menu naradek">
    <li><a href="{plink Homepage:default}">Hlavní strana</a></li>
    <li><a href="{plink Homepage:rubriky 'o-nas'}">O nás</a></li>
    <li><a href="{plink Homepage:rubriky 'media'}">Media</a></li>
    <li><a href="{plink Clanky:default '3-kontakt'}">Kontakt</a></li>
    <li><a href="{plink Homepage:rubriky 'o-nas/zpravodaj-cgf'}">Zpravodaj ČGF</a></li>
    <li><a href="https://gis.gymfed.cz" target="_blank">GIS</a></li>
 
</ul>