<h3 class="oddelit">Sponzoři a partneři</h3>
<div class="obr-box sponzori">
<a href="http://www.manufaktura.cz/" target="_blank">MANUFAKTURA<br/><img src="{$basePath}/images/logo-manufaktura.png" alt="Manufaktura" title="Manufaktura"/></a>
<a href="http://www.prospect.cz/" target="_blank">PROSPECT<br/><img src="{$basePath}/images/logo-prospect.png" alt="Manufaktura" title="Prospect"/></a>
<a href="http://www.msmt.cz/" target="_blank">MŠMT (MINISTERSTVO ŠKOLSTVÍ, MLÁDEŽE A TĚLOVÝCHOVY)<br/><img src="{$basePath}/images/logo-MSMT.jpg" alt="MŠMT" title="MŠMT"/></a>
<a href="http://www.olympic.cz/" target="_blank">ČOV (ČESKÝ OLYMPIJSKÝ VÝBOR)<br/><img src="{$basePath}/images/logo-COV.png" alt="ČOV" title="ČOV"/></a>
<a href="https://www.fig-gymnastics.com/site/" target="_blank">FIG (MEZINÁRODNÍ GYMNASTICKÁ FEDERACE)<br/><img src="{$basePath}/images/logo_FIG.jpg" alt="FIG" title="FIG"/></a>
<a href="http://www.ueg.org/"  target="_blank">UEG (EVROPSKÁ GYMNASTICKÁ UNIE)<br/><img src="{$basePath}/images/logo-UEG.png" alt="UEG" title="UEG"/></a>
<a href="http://www.dionysports.com"  target="_blank">DIONY SPORTS<br/><img src="{$basePath}/images/logo-dionysports.png" alt="Diony sports" title="Diony sports"/></a>
</div>