{block content}
{control drobeckovaNavigace}
{block title}<h1 class="oddelit">Osoba nenalezena</h1>{/block}
    <div class='clanek'>
    <p>Omlouváme se, ale požadovaná osoba nebyla nalezena.<br />
    Pro vyhledání požadované osoby zkuste prosím použít hledání.</p>
    <p>Děkujeme za pochopení.</p>
    </div>
{/block content}
{block menu}
{control menu}
{/block}