<table>
    <tr><th class='width_auto'>Perex:</th><td>{$clanek['perex']}</td></tr>
    <tr><th class='width_auto'>Obsah:</th><td>{!$clanek['obsah']}</td></tr>
</table>
{control galerie}
{control seznamPriloh}

