{extends '../@layout.latte'}
{block subtitle} - osoby{/block}
{block content}
{control bocniMenu}

<div class="span9"><div class="inner">
    	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
<h1>{block #sekce}{/block}</h1>
{block #obsah} {/block}
</div></div>
{/block}