{extends 'base.latte'}
{block obsah}
<table>
    {foreach $osoby as $osoba}
    <tr>
        <td><a n:href="Osoby:prehled $osoba['id']">{$osoba['prijmeni']} {$osoba['jmeno']}</a></td>
        <td>{$osoba['rc']}&nbsp;</td>
    </tr>
    {/foreach}
</table>
