<ul class="menu-sporty" id="sporty">
    <li class="box-8-menu sgm"><a href="{plink Homepage:rubriky sportovni-gymnastika-muzi}"><span>Sportovní gymnastika muži</span></a></li>
    <li class="box-8-menu sgz"><a href="{plink Homepage:rubriky sportovni-gymnastika-zeny}"><span>Sportovní gymnastika ženy</span></a></li>
    <li class="box-8-menu team"><a href="{plink Homepage:rubriky teamgym}"><span>Teamgym</span></a></li>
    <li class="box-8-menu aero"><a href="{plink Homepage:rubriky aerobik}"><span>Aerobik</span></a></li>
    <li class="box-8-menu akrobatic"><a href="{plink Homepage:rubriky akrobaticka-gymnastika}"><span>Akrobatická gymnastika</span></a></li>
    <li class="box-8-menu tramp"><a href="{plink Homepage:rubriky skoky-na-trampoline}"><span>Skoky na trampolíně</span></a></li>
    <li class="box-8-menu splh"><a href="{plink Homepage:rubriky olympijsky-splh}"><span>Olympijský<br /> šplh</span></a></li>
    <li class="box-8-menu vseob"><a href="{plink Homepage:rubriky vseobecna-gymnastika}"><span>Všeobecná gymnastika</span></a></li>

</ul>
<ul class="menu-sporty2" id="sporty2">
    <li class="box-8-menu sgm"><a href="{plink Homepage:rubriky sportovni-gymnastika-muzi}"><span class="bga"></span><span>Sportovní gymnastika muži</span></a></li>
    <li class="box-8-menu sgz"><a href="{plink Homepage:rubriky sportovni-gymnastika-zeny}"><span class="bga"></span><span>Sportovní gymnastika ženy</span></a></li>
    <li class="box-8-menu team"><a href="{plink Homepage:rubriky teamgym}"><span class="bga"></span><span>Teamgym</span></a></li>
    <li class="box-8-menu aero"><a href="{plink Homepage:rubriky aerobik}"><span class="bga"></span><span>Aerobik</span></a></li>
    <li class="box-8-menu akrobatic"><a href="{plink Homepage:rubriky akrobaticka-gymnastika}"><span class="bga"></span><span>Akrobatická gymnastika</span></a></li>
    <li class="box-8-menu tramp"><a href="{plink Homepage:rubriky skoky-na-trampoline}"><span class="bga"></span><span>Skoky na trampolíně</span></a></li>
    <li class="box-8-menu splh"><a href="{plink Homepage:rubriky olympijsky-splh}"><span class="bga"></span><span>Olympijský<br /> šplh</span></a></li>
    <li class="box-8-menu vseob"><a href="{plink Homepage:rubriky vseobecna-gymnastika}"><span class="bga"></span><span>Všeobecná gymnastika</span></a></li>

</ul>

<!-- menu je primo v @layout.latte -->