img {border:0;}
.naradek li {display:inline;}
#sporty_menu {width:100%;}
.box-8-menu { width: 9.5%;}
.top_clanek .box-6 {width:45%;}
.box-4 {width: 30%;}
.box-3 {width:23%;}
.box-9 {width:70%;}
.box-8 {width:63%;}
.oddelit, h3 {clear:both;}
.galerie a {width:22%;}
.neprehlednete ul {padding-left:0;}