@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);
 @font-face {
	font-family: 'gis';
	src:url('fonts/gis.eot?nhoxgm');
	src:url('fonts/gis.eot?#iefixnhoxgm') format('embedded-opentype'),
		url('fonts/gis.woff?nhoxgm') format('woff'),
		url('fonts/gis.ttf?nhoxgm') format('truetype'),
		url('fonts/gis.svg?nhoxgm#ptlapky') format('svg');
	font-weight: normal;
	font-style: normal;
}
 body {margin:0; padding:0; background:#f0f0f0 url(top-img-home9.jpg) no-repeat center top;font-family: Arial, helvetica, sans-serif;;color:#4d4d4d;
 line-height:1.5;}
 .bgbody {background:url(tecky1.png) top left repeat-x;}
 table, td, tr, th, p, div {font-size:12px;}
 pre {font-family: Arial, helvetica, sans-serif;}
 a {color:#3399ff;}
 h1 a, h2 a, h3 a, h4 a { text-decoration:none;}
#bn-top-home {position:relative;}
#bn-top-home .abs {position:absolute; top:-123px; right: -1068px; width:1068px; height:115px;background: url(/fotky19829/design_setup/images/bn_top.png) center right no-repeat;}
#bn-top-home a {display:block; width:350px; height:115px; text-decoration:none;}

/* menu sporty - modre obdelniky*/
.menu-sporty2 {display:block; padding:0;margin:0 -15px 0 -30px; position:absolute; top:200px;width:100%; max-width:1125px;}
.menu-sporty2 li {list-style: none outside none; background:transparent; text-align:center;}
.menu-sporty2 li a {font-family: arial; font-size: 12px; color:white; text-transform: uppercase;
                    margin: 5px -10px; display:block;  position:relative;}
.menu-sporty2 li span {display:block; padding:0.5em; box-shadow: 1px 1px 15px #666666; 
                    background:rgb(51, 153, 255); text-align:center; min-height: 3em; text-overflow:ellipsis; 
                    border-radius: 0.3em;}
.menu-sporty2 li a .bga {display:none;}
.menu-sporty2 li a:hover span {box-shadow: 1px 1px 15px #666666; background:#ffffff url(tecky-gr2.png); color:#3399FF;}
.menu-sporty2 li.team a, .menu-sporty2 li.aero a {line-height:3em;}
/** kulate menu */
.menu-sporty2.homepg li span {position:relative;}
.menu-sporty2.homepg li span.bga {position:absolute;}
.menu-sporty2.homepg li span.bga {
    background: url(/css/bg-top-nav4.jpg) top left no-repeat;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #000000;
    display: block;
    height: 100px;
    overflow: visible;
    text-decoration: none;
    position:absolute;
    left: 45%;
    margin: 0 -50px;
    overflow: visible;
    top: -100px;
    width: 100px;
}   

   .menu-sporty2 li.sgm span.bga {background-position:-275px 0;}
   .menu-sporty2 li.sgz span.bga {background-position:-410px 0;}
   .menu-sporty2 li.team span.bga {background-position:-684px 0;}
   .menu-sporty2 li.aerobic span.bga {background-position: 0 0;}
   .menu-sporty2 li.akrobatic span.bga {background-position:-136px 0;}
   .menu-sporty2 li.tramp span.bga {background-position:-552px 0;}
   .menu-sporty2 li.splh span.bga {background-position:-821px 0;}
   .menu-sporty2 li.vseob span.bga {background-position:-962px 0;}

.clanek {font-family:arial; font-size:12px; padding: 0.5em 0;}
.clanek img.hl_foto {width:100%; height:auto;}
.clanek img {float: left; margin: 1em 1em 1em 0; width: auto; height:auto; max-width:100%;}
.clanek img.right {float: right; margin: 1em 0 1em 1em;}
h1, h2, h3, h4 {text-transform:uppercase;}
h2 {font-size:16px;font-family:Open Sans, Arial, Sans-Serif;}
h1 {font-size:22px;font-family:Open Sans, Arial, Sans-Serif; margin-top:0;}
.oddelit {border-top: 1px solid #cf6370; padding: 0.3em;font-size:16px;}
h1.oddelit, .oddelit.tecky {background:url("tecky1.png") repeat-x scroll left -398px rgba(0, 0, 0, 0); padding:0.3em 0; border:0; font-size:22px;}
.oddelit.tecky {font-size:14px; margin:26px 0 0 0;; padding:1em 0 0.3em 0;}
.pg-menu li {width:auto; float:none;}
.pg-menu li li, .pg-menu li li a {padding:0;}
.telo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    max-width: 1090px;
}
.radek {
    margin-left: -15px;
    margin-right: -15px;
 /*   content: " ";
    display: block;  */
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9, .box-10, .box-11, .box-12, .box-8-menu {
    float: left;     
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.box-12 { width: 100%;}
.box-11 { width: 91.6667%;}
.box-10 { width: 83.3333%;}
.box-9 { width: 75%;}
.box-8 { width: 66.6667%; }
.box-7 { width: 58.3333%;}
.box-6 { width: 50%;}
.box-5 { width: 41.6667%; }
.box-4 { width: 33.3333%;}
.box-3 { width: 25%;}
.box-2 { width: 16.6667%; }
.box-1 { width: 8.33333%;}
.box-8-menu {width:12.5%;}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
.radek:after, .radek:before {clear:both;
    content: " ";
    display: block;} 
.top {background:white; background:none repeat scroll 0 0 rgba(255, 255, 255, 0.85); color:black; line-height: 60px; margin: 0 0 18em;box-shadow: 0 0 15px #666666; position:static;}
.top a {color:#3399ff; text-decoration:none; text-transform:uppercase;}
.top .telo {background:transparent;}
.logo {height:60px; width:auto; float:left;}
.right {text-align:right;}
ul.naradek {padding:0; margin:0;}
.naradek li {display:inline-block; font-family:arial; font-size:12px; padding:0; margin:0; list-style-type:none;}
.naradek li a {display:inline-block;padding:6px 10px; border-left: 1px solid #ccc; height:12px; line-height: 12px; text-transform: uppercase;}
.naradek li a { border-color:#fff;}
.naradek li + li a {border-color:#3399ff;}
.naradek.blok li {display:block; margin: 5px 0 0 0;}
.naradek.blok li a {border-color:#3399ff; padding: 6px 10px; text-decoration:none; color:#3399ff; height:auto;}
.naradek.blok li.active a {border-width: 5px; padding-left:5px; font-weight:bold;}
.naradek.blok li.active a:hover {padding-left:10px;border-width: 1px;}
.naradek li a:hover {background:#3399ff; color:white; padding:6px 10px;border-radius: 0.3em;}
.logo {border:0;}

.nadpis {margin: 10px 0; display:block;}
.nadpis.rubrika {position:absolute; top: -4.7em; left:0; display:block; font-size:40px; font-weight:normal; font-family: Open Sans, Arial; color:white; 
padding:  0.2em 0.5em; background:url(bg-nadpis.png);background: rgba(215, 0, 25, 0.8); text-transform:uppercase;}
.obsah {box-shadow: 1px 1px 15px #666666;}
.mini {padding:15px 0; text-transform:uppercase;font-size:10px;}
.mini a {padding:0.3em;}
.mini a:hover {background:#3399FF; color:white; border-radius:0.3em; text-decoration:none;}
#vyhledavani form {position:relative;padding: 10px 50px 10px 10px; text-align:right; background:#e5e5e5; border-bottom-left-radius: 0.3em; border-bottom-right-radius: 0.3em;}
#vyhledavani input {padding:3px 5px; border-radius: 0.3em; border: 1px solid #e5e5e5;display:block; width:100%; line-height:2em;height:2em;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}
#vyhledavani input[type="submit"] {
    font-family: 'gis';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;max-width:30px; border:0;background:#3399ff; color:white; cursor:pointer;position:absolute; right:10px;top:10px;}
.m-con table {width:100%;background:#f0f0f0;border-radius: 0.3em;padding:0.3em;}
.m-con td, .m-con th {width:14.28571%; text-align:center; line-height: 1.5em;}
.m-con td {border:1px solid #f0f0f0;background:#ffffff;} 
.m-con td.weekend {background:#ffffcc;}
.m-con a {text-decoration:none;}
.m-con td a {display: block; height:100%; width:100%; background:#3399ff; color:white;}
.m-con .day-d {border:1px solid #cf6370;}
.soc {    font-family: 'gis';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size:28px;
    padding:20px 0;}
    .soc a {color:silver;text-decoration:none;}
    .soc a.rss:hover {color:rgb(255,153,0)}
    .soc a.fb:hover {color:#3b5998;}
    .soc a.gp:hover {color:#dd4b39;}
    .soc a.yt:hover {color:#dd4b39;}
.spodnilista {background: #4d4d4d; color:white; padding: 5px 0;}
.spodnilista a {color:#c0c0c0; text-decoration:none;}
.spodnilista a:hover {color:white;}
.spodnilista ul {padding-left:15px;}
.spodnilista .telo {background:transparent;}
.radek.spodnilista {margin:0;}

.akce  {border-radius: 0.5em; background:#e0e0e0;padding:0.5em; margin-bottom:0.5em;}
.akce h3 {padding:0 20px 5px 0;; margin:0; background: url(down.png) center right no-repeat;}
.popis_akce {background: none repeat scroll 0% 0% rgb(240, 240, 240); padding: 0.5em; border-radius:0.3em;}
.udalost pre {display:none;}
.termin {border-radius: 0.3em;}
.termin span {display:inline-block; padding:0 3px 3px 0;} 
.oddo {font-weight:bold; cursor:pointer;}
img + h1 {padding:0.5em; background: rgba(0, 153, 255, 0.8); color:white; 
font-size:16px; text-transform:uppercase;}
.vypis {border-bottom:1px dotted silver;}
.vypis a {display:block;position:relative; padding-left:105px;text-decoration:none; color:#4d4d4d; background: url("vice.png") no-repeat scroll right bottom rgba(0, 0, 0, 0); }
.podobne_clanky ul {padding-left:20px; color:#3399ff; line-height:1.5; margin-top:0;}
.vypis a h2 {color:#33adff;}
.nahled-sm {position:absolute; left:0; top:5px; width: 90px; height: 90px; display:block; overflow: hidden;border-radius: 0.3em;
    box-shadow: 1px 1px 3px #C0C0C0;}
.nahled-sm img {width:100%; height:auto; border: 0 none; margin:auto;float:none;}
.sipka {background: url(vice.png) no-repeat scroll right center rgba(0, 0, 0, 0); display:inline-block; padding-right:20px;}
.bez {margin-left: -15px; margin-right:-15px; position: relative;}
.seznam_akci h2 a{color: #4d4d4d;}

/* modre menu */
.naradek.blok li.active a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-width: 5px;
    color: #3399FF;
    font-weight: bold;
    padding-left: 5px;
}
.naradek.blok li a {
    background: url(tecky1.png) #3399FF;
    display:block;
    border-color: #3399FF;
    color: #FFFFFF;
    height: auto;
    padding: 10px;
    text-decoration: none;
}
.naradek.blok li a:hover {border-radius:0; background: #e5e5e5 url(tecky-gr2.png); color:#3399FF;}
.hidden {
    display: none;
}

.top_clanek {
    background: url(tecky1.png) rgb(0, 153, 255);
    background: url(tecky1.png) repeat scroll 0 0 rgba(0, 153, 255, 0.8);
    border-radius: 0.5em;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0.5em;
    text-transform: uppercase;
    margin-top:15px;
    margin-bottom:15px;
}
.top_clanek h1, .top_clanek .nadpis a {text-transform:uppercase; margin-top: 0.5em; text-decoration:none; color:white; display:block;font-family: Open Sans,Arial,Sans-Serif;
    font-size: 22px; font-weight:bold;}
.top_clanek img {border-radius: 0.3em;width:100%; height:auto; max-height:270px; max-width:365px; /*margin-top: 15px;*/}
.top_clanek .slideshow {height:270px; overflow:hidden;padding:5px 0;}
.vypis {
    border-bottom: 1px dotted #C0C0C0;
    margin-left: 15px;
    padding-right: 0;
}
.galerie {
    margin-left: -6px;
    margin-right: -6px;
   /* content: " ";
    display: block; */
}
.galerie a { float: left; padding: 3px 6px; position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; width:25%;}
.galerie img {width:100%; height:auto;border:0;}
.galerie:after, .galerie:before {clear:both;
    content: " ";
    display: block;}
    
.notice {border-radius: 0.5em; background:#FFFFB3; padding: 3px 15px; margin:15px 0; font-style:italic; box-shadow: 1px 1px 3px #C0C0C0;}
.notice .nadpis, .notice h4 {font-size:12px; font-weight:bold; font-style: normal;}
/* reklama, sponzori, galerie */
.obr-box {text-align:center;}
.obr-box a {display:block;margin-bottom:35px;}
.obr-box img {width:auto; border:0px none; margin:auto;}

.seznam_akci, ul.blok {margin-bottom:2em;}
.seznam_akci .oddelit {border:0;}
.seznam_akci div.popis_akce a.na_detail{padding-left:10px;line-height:2;}
.den_s_akci {background-color: #FFFFB3; border: 1px solid #d3d3d3;}
#calendar h3 a{color: #4d4d4d;}
div.seznam_priloh ul li {list-style: none;}
div.seznam_priloh td{vertical-align: top;}
div.seznam_priloh th {vertical-align: top;}

.ico-pdf {background:url('/css/ico-pdf.gif') center left no-repeat;padding:2px;padding-left:20px;height:15px;line-height:20px;margin-right:10px;}
.ico-xls {background:url('/css/ico-xls.gif') center left no-repeat;padding:2px;padding-left:20px;height:15px;line-height:20px;margin-right:10px;}
.ico-doc {background:url('/css/ico-doc.gif') center left no-repeat;padding:2px;padding-left:20px;height:15px;line-height:20px;margin-right:10px;}


.left {text-align:left;}

.prilohy ul, .popis_akce ul {list-style-type: none; padding-left:10px; line-height:2;}
.prilohy img, .popis_akce img {width:auto; vertical-align:middle; margin:0 5px 0 0;float:none;}
.perex {min-height:70px;}

.neprehlednete ul {list-style-type: square; padding-left:16px;color: #d5d5d5;}
.publikovano, .vlozil {font-style: italic;}
.vlozil {padding:1em 0;clear: both;}
.topnadpis {display:block;position:absolute; font-family:"Open sans", Arial; text-transform:uppercase; color:#4D4D4D;letter-spacing:0.2em; left:90px; font-weight:bold;}
.archiv ul {list-style-type: square; padding-left:10px; margin:6px 0;color: #d5d5d5;}
.archiv a {position:relative; text-decoration:none; background: url("vice.png") no-repeat right center; padding-right:15px;}
.archiv a:hover {color:#3399ff;text-decoration:underline;}
.archiv .publikovano {border-radius:0.3em;font-weight:bold;font-style: normal; padding:0.3em; background:#e5e5e5; width:6em;text-align:center; margin-top:2em;}

div .vysledky {overflow: auto;}
div .vysledky table td{white-space:nowrap}
/*div .vysledky table.tablesorter tbody tr.selected td{color: red; border-color: red;}*/
div .vysledky table.tablesorter tbody tr.selected td{background-color: #ffffcc;}

div.osoba_hlavicka table th{vertical-align: text-top;}

.oddil h3 {margin-bottom: 0;}
.cl{clear:both;}

.fb-like{position: absolute; right:-210px;}

.sponzori a {color:#4D4D4D; text-decoration:none}
@media (max-width: 800px) {
.telo {
     width: 790px;
}
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
.top .menu {display:none;}
.top {border-bottom: 1px solid black; margin:0;}
.box-9, .box-8 {width:100%;}
.vypis {border-bottom: 1px dotted #000000;}
.nadpis.rubrika {display:none;}
.hidden-print {display:none;}
} 
